<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-event-heading" data-cy="EventCreateUpdateHeading">Create or edit a Event</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.maxlength">
              This field cannot be longer than 64 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_initial">Initial</label>
          <div class="input-group">
            <input
              id="field_initial"
              data-cy="initial"
              type="text"
              class="form-control"
              name="initial"
              ngbDatepicker
              #initialDp="ngbDatepicker"
              formControlName="initial"
            />
            <button type="button" class="btn btn-secondary" (click)="initialDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('initial')!.invalid && (editForm.get('initial')!.dirty || editForm.get('initial')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('initial')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_repeat">Repeat</label>
          <input type="text" class="form-control" name="repeat" id="field_repeat" data-cy="repeat" formControlName="repeat" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_note">Note</label>
          <input type="text" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_owned_by">Owned By</label>
          <select
            class="form-control"
            id="field_owned_by"
            data-cy="owned_by"
            name="owned_by"
            formControlName="owned_by"
            [compareWith]="comparePerson"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="personOption" *ngFor="let personOption of peopleSharedCollection">{{ personOption.name }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
